body {
	background : url('Sprinkle.svg');
	background-size : 100% 100%;
	background-color : mediumTurquoise;
	background-attachment : fixed;
}

body, html {
	margin : 0;
	height : 100%;
}

h2 {
	background : rgb(122, 86, 197);
	padding : 20px;
	margin-top : 0;
	margin-bottom : 0;
	font : 33px Lato Bold;
	color : mintCream;
	cursor : default;
}

nav ul {
	display : flex;
	justify-content : space-around;
	padding : 0;
	margin : 0;
}

nav ul li {
	display : none;
	list-style : none;
	font : 30px Bebas Neue;
	background : black;
	border : 5px solid rgb(122, 86, 197);
	color : beige;
	padding : 12px;
	text-align : center;
	flex-basis : 100%;
	cursor : default;
	transition : all 0.6s ease;
}

table {
	background : rgb(122, 86, 197);
	border : 6px solid steelBlue;
	color : mintCream;
	font : 20px Lato Bold;
}

table td, table th {
	border : 3px solid steelBlue;
	outline : 2px solid steelBlue;
	padding : 6px;
	min-width : 70px;
}

#settings {
	float : right;
	margin-right : 10px;
	padding : 5px 16px 5px 16px;
	border-radius : 16px;
	width : max-content;
	background : azure;
	color : navy;
}

#generator {
	background : #DDDDED;
	border : 4px solid black;
	width : 500px;
	height : max-content;
	margin-top : 70px;
	margin-left : auto;
	margin-right : auto;
	box-shadow : 12px 12px rgba(44, 44, 44, 0.7);
}

#try, #hear, #show {
	background : white;
	font : 27px Lato;
	border-bottom : 1px solid black;
	display : inline-block;
	padding : 15px;
	width : 50%;
	text-align : center;
	box-sizing : border-box;
	cursor : pointer;
}

#try {
	border-right : 1px solid black;
}

#hear {
	border-right : 1px solid black;
}

#result {
	width : 100%;
	height : 136px;
	padding : 40px;
	text-align : center;
	box-sizing : border-box;
	font : 30px Lato Bold;
	cursor : default;
}

#wrapper2 {
	display : none;
	grid-template-rows : 1fr 1fr 1fr 1fr;
	grid-template-columns : 1fr 1fr;
}

#wrapper3 {
	display : flex;
}

#type, #gradation, #rating, #translation, #type2, #gradation2, #rating2, #translation2 {
	background : black;
	color : beige;
	font : 22px Lato;
	border : 1px solid beige;
	padding : 6px;
}

#nom_info {
	background : steelBlue;
	text-align : center;
	font : 22px Lato Bold;
	padding : 10px;
	text-transform : uppercase;
}

.visible {
	display : block;
}

.visible2 {
	display : grid;
}

.att {
	color : orange;
}

nav ul li:hover {
	background : turquoise;
	color : black;
}

#try:hover, #hear:hover, #show:hover {
	background : gold;
}

@font-face {
	src : url('lato.ttf');
	font-family : Lato;
}

@font-face {
	src : url('lato-bold.ttf');
	font-family : Lato Bold;
}

@font-face {
	src : url('bebas-neue.ttf');
	font-family : Bebas Neue;
}

@media (max-width : 520px) {
 body {
	background-image : none;
	background-color : rgb(0, 12, 0);
 }	
 
 nav ul li {
	 border-bottom : 1px solid black;
	 display : block;
 }
 
#generator {
	margin-top : 30px;
	box-shadow : 0px 0px black;
	border : 1px solid black;
	width : 100%;
 }	
}